{% extends "basic/layout.html.twig" %}

{% block content %}

<div class="main-container">
  <div class="container">
    <div class="row">
      <div class="col-md-9 page-content">
        <div class="inner-box category-content">
          <h2 class="title-2 uppercase">
            <strong> <i class="icon-briefcase"></i>
              Add new media item
          </strong></h2>
          <div class="row">
            <div class="col-sm-12">
              {% if flash.length %}
                <span style="color: green; font-size: 16px;">Item being processed.</span>
              {% else %}
                Please fill below form to add a new media file.<br />
              {% endif %}
              <br />
              <br />
              <br />

              <form class="form-horizontal" id="add" action="/add" method="POST">
                <fieldset>
                  <div class="form-group">
                    <label class="col-md-3 control-label" for="typo">Media Type</label>
                    <div class="col-md-3">
                      <select class="form-control" name="typo" id="typo" required>
                        <option value="video">YouTube Video</option>
                        <option value="audio">Audio</option>
                        <option value="image">Image</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group hidden" id="audio-filter-container">
                    <label class="col-md-3 control-label" for="audio-filter">Audio filter</label>
                    <div class="col-md-4">
                      <select class="form-control" name="audio-filter" id="audio-filter">
                        <option selected disabled>Select an audio filter</option>
                        <option value="background-noise">Background noise</option>
                        <option value="phone-noise">Fix Phone audio</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label" for="Name">Name</label>
                    <div class="col-md-8">
                      <input id="name" name="name" placeholder="Name" class="form-control input-md" type="text" required />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label" for="description">Description</label>
                    <div class="col-md-8">
                      <input id="description" name="description" placeholder="Description" class="form-control input-md" type="text" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label" for="videoURL">URL</label>
                    <div class="col-md-8">
                      <input id="videoURL" name="videoURL" placeholder="URL" class="form-control input-md" type="url" required />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label" for="author">Author</label>
                    <div class="col-md-8">
                      <input id="author" name="author" placeholder="Author" class="form-control input-md" type="text" />
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label" for="language">Language</label>
                    <div class="col-md-2">
                      <select class="form-control" name="language" id="language" required>
                        <option value="es">Spanish</option>
                        <option value="en">English</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label" for="jobTitle">Tags</label>
                    <div class="col-md-8">
                      <input id="tags" name="tags" placeholder="Tags" class="form-control input-md" type="text" />
                      <span class="help-block">
                        {% for val in ['action', 'adventure', 'biography', 'comedy', 'crime', 'drama', 'family', 'fantasy', 'mistery', 'sci-fi', 'food', 'travel', 'technology', 'news', 'economy', 'society', 'healthy'] %}
                          +<a href="#" class="tags-example">{{ val }}</a>
                        {% endfor %}
                      </span>
                    </div>
                  </div>

                  <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <button type="submit" class="btn btn-info pull-left btn btn-success btn-lg" style="margin-left: 5px;" id="sh-editor-submit">Save</button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}

{% block before_head_end %}
  <link href="/libs/jquery.tagsinput/src/jquery.tagsinput.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/start/jquery-ui.css" />
{% endblock %}

{% block before_body_end %}
  <script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js'></script>
  <script src="/libs/jquery.tagsinput/src/jquery.tagsinput.js"></script>
  <script>
    const assetTypeField = document.querySelector('#typo');
    const audioFilterContainer = document.querySelector('#audio-filter-container');

    assetTypeField.addEventListener('change', function(e) {
      const fieldValue = e.target.value;

      if(fieldValue === 'audio') {
        audioFilterContainer.classList.remove('hidden');
      } else {
        audioFilterContainer.classList.add('hidden');
      }
    });
  {% for field in ['tags'] %}
    $('#{{ field }}').tagsInput({
      width: '100%',
      height: '50px',
      autocomplete_url:'/field-autocomplete?field={{ field }}',
      autocomplete:{selectFirst:true,width:'100px',autoFill:true}
    });

    $(".{{ field }}-example").click(function(event) {
      event.preventDefault();
      $('#{{ field }}').addTag($(this).text());
    });
  {% endfor %}
  </script>
{% endblock %}

