{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="padding-left: 0;">
                <div id="custom-search-input">
                    <form action="/catalog" method="GET">
                        <div class="input-group col-md-12">
                            <input type="text" id="main_query" class="form-control input-lg" name="query"
                                   value="{{ query }}" placeholder="Search items.."/>
            <span class="input-group-btn">
              <button class="btn btn-info btn-lg" type="button">
                  <i class="glyphicon glyphicon-search"></i>
              </button>
            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="main-content assets-content">
        <div class="assets">
            <div class="packery-container">
                {% for item in items %}
                    <div class="item draggable">
                        <article class="{{ item.channelName }}">
                            <img src="{% if item.image %}{{ item.image }}{% else %}{{ image }} {% endif %}"
                                 alt="{{ item.name }}">
                            <h4>{{ item.channelName }}</h4>
                            <aside>
                                <div class="coverall"/>
                                <div class="content">
                                    <p class="description">{{ item.description }}</p>
                                    <ul class="icon-ul meta-data">
                                        <li class="channel"><i class="icon-li icon icon-tag"></i>{{ item.channelName }}
                                        </li>
                                        <li class="author"><i class="icon-li icon icon-user"></i>{{ item.author }}</li>
                                        <li class="views"><i class="icon-li icon icon-eye"></i>{{ item.views }}</li>
                                    </ul>
                                </div>
                                <div class="date">
                                    <div class="clock">
                                        <i class="icon icon-clock-o"></i>&nbsp;XXX
                                    </div>
                                    <div class="date-wrap">
                                        <span class="day">{{ item.pubDate }}</span>
                                        <span class="month">{{ item.pubDate }}</span>
                                    </div>
                                </div>
                            </aside>
                            <header>
                                <h1>{{ item.name }}</h1>
                            </header>
                            <div class="layer">
                                <div>
                                    <a href>
                                        <i class="icon"></i>
                                    </a>
                                </div>
                            </div>
                        </article>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}




{% block before_head_end %}
    <link rel="stylesheet" type="text/css"
          href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/start/jquery-ui.css"/>
{% endblock %}

{% block before_body_end %}
    {#<script type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js'></script>#}
    {% include "general/autocomplete.html.twig" ignore missing %}

{% endblock %}
