{% extends "basic/layout.html.twig" %}

{% block content %}
    <div class="main-content assets-content" id="results-page">
      <h1>Videos</h1>
        <div>
          <div class="packery-container row">
            {% for video in videos %}
              <article class="result-item col-sm-4">
                <div class="article-content text-center">
                  {% if video.status.code == 'done' %}
                    <video controls>
                      <source src="{{ video.links.url }}" type="video/mp4">
                    </video>
                  {% endif %}
                  {% if video.status.code != 'done' %}
                    <div class="video-status">
                      <img class="img-responsive"
                           src="{{ '/assets/img/default-video-image.png' }}"
                           alt="{{ video.name }}"
                      >
                      <p class="status-code">{{ video.status.code }}</p>
                    </div>
                  {% endif %}
                  <h5>{{ video.name }}</h5>
                </div>
              </article>
            {% endfor %}
          </div>
        </div>
    </div>
{% endblock %}
